<!DOCTYPE html>
<html lang="nl" style="scroll-behavior: smooth;">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Bit Shop Template{% endblock %}</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
    <div class="w3-sidebar w3-bar-block w3-light-grey w3-card w3-large" style="width: max(5%, 300px);">
        <h3 class="w3-bar-item"><b>De Dorpsslagerij</b></h3>
        <div class="w3-bar-item">
            <a href="/filter/alles" class="w3-button" style="width: 90%; text-align: left;"><img alt="icon (alles)" style="margin-right: 30px;" src="https://img.icons8.com/ios-filled/40/000000/show-all-views.png" />Alle producten</a>
        </div>
        {% for cat in categories %}
            {% if cat.zichtbaar %}
            <div class="w3-bar-item">
                <a href="{% url 'filter' cat.naam %}" class="w3-button" style="width: 90%; text-align: left;"><img alt="icon ({{ cat.naam }})" style="margin-right: 30px;" src="https://img.icons8.com/ios-filled/40/000000/{{ cat.icon }}.png" />{{ cat.naam }}</a>
            </div>
            {% endif %}
        {% endfor %}

        <br>
        <hr style="border-top: 2px dotted black; width: 90%; margin-left: 5%;">
        <div class="w3-bar-item">
            <a href="{% url 'cart' %}" class="w3-button" style="width: 90%; text-align: left;"><img alt="icon (mandje)" style="margin-right: 30px;" src="https://img.icons8.com/ios-filled/40/000000/shopping-cart.png" />Winkelwagen</a>
        </div>

        <hr style="border-top: 2px dotted black; width: 90%; margin-left: 5%;">
        <br>
        <div class="w3-margin" style="text-align: center;">
            <a href="/admin">admin</a>
        </div>

    </div>

    <div id="main-content" class="" style="margin-left: max(5%, 300px);">
        <header class="w3-container w3-{{ header_colour }}">
            <h1>{{ header_text }}</h1>
        </header>

        {% if messages %}
            <div id="messages">
                {% for message in messages %}
                <div class="w3-{{ message.level_tag }} w3-margin w3-panel w3-border w3-round w3-display-container {% if message.extra_tags %}{{ message.extra_tags }}{% endif %}">
                    <span onclick="this.parentElement.style.display='none'" class="w3-button w3-large w3-display-right" style="height: 100%;">&times;</span>
                    <p>{{ message }}</p>
                </div>
                {% endfor %}
            </div>
        {% endif %}

        {% block content %}

        <div class="w3-container">
            <p>Klik op een filter aan de linkerkant om te beginnen.</p>
        </div>
        {% endblock %}
    </div>

</body>
</html>